.App {
  margin-left: 60px;
  margin-right: 60px;
}

.calculator-inner {
    margin-top: 100px;
    display: flex;
}

.calculator {
  width: 30%;
  margin-right: 100px;
}

.input-block {
  position: relative;
}

.input-block + .input-block {
  margin-top: 24px;
}

.label {
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 0.8rem;
  opacity: 0.6;
}

.input-block input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0; 
}

* {
  box-sizing: border-box;
}

.calculator-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator-cost {
    font-size: 2em;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #292929;
    border: none;
    color: #fff;
    margin-top: 20px;
}

.input-percent {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.6;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.banks-inner {
    flex-grow: 1;
}

.bank-item {
    padding: 0 0 10px;
    border-bottom: 1px solid #afafaf;
    display: flex;
    align-items: center;
}

.bank-item + .bank-item {
    margin-top: 20px;
}

.bank-cell {
    width: 20%;   
}

.bank-cell + .bank-cell {
    margin-left: 20px;   
}